<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dys.mapper.EmpMapper">

    <!--    条件分页查询的优化，即当前端传入的字段较多时，可以在xml里面配置查询条件，在Controller里面只传入一个对象即可，-->
    <!--    该对象封装了查询条件字段，然后通过Mapper接口方法传入该对象即可-->
    <!--    <select id="list" resultType="com.dys.pojo.Emp">-->
    <!--        select e.*, d.name deptName from emp e left join dept d on e.dept_id = d.id-->
    <!--        where-->
    <!--        e.name like concat('%',#{name},'%')-->
    <!--        and e.gender = #{gender}-->
    <!--        and e.entry_time between #{begin} and #{end}-->
    <!--        order by e.entry_time desc-->
    <!--    </select>-->


    <!--    条件分页查询的优化: 动态SQL语句-->
    <select id="list" resultType="com.dys.pojo.Emp">
        select e.*, d.name deptName from emp e left join dept d on e.dept_id = d.id
        <where>
        <if test="name != null and name != ''">
            e.name like concat('%',#{name},'%')
        </if>
        <if test="gender != null">
            and e.gender = #{gender}
        </if>
        <if test="begin != null and end != null">
            and e.entry_time between #{begin} and #{end}
        </if>
        </where> order by e.entry_time desc
    </select>
</mapper>